#sortButtons {
  flex-direction: row;
  flex-wrap: wrap;
}

#cards {
  display: flex;
  background-color: springgreen;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  gap: 7px;
}

html {
  background-color: springgreen;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly
}

form, .mb-3 {
  background-color: rgba(0, 255, 128, 0.644);
  border: 5px solid skyblue;
  padding: 3px;
}

#form-submit {
  background-color: blue;
}
